// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.answers {
  background-color: rgba(200,200,200,0.8);
  box-shadow: -5px 0px 0px;
  color: rgb(20,100,100);
  margin-left: 15px;
  padding-left: 20px;
}

h1 {
  color: rgb(20,100,100);
}
